@import url("https://fonts.googleapis.com/css?family=Ubuntu");
:root {
  --gray1: #e4e4e7;
  --gray2: #d4d4d8;
  --gray3: #a1a1aa;
  --gray4: #71717a;
  --gray5: #52525b;
}

.page-nav {
  cursor: pointer;
}

:focus {
  outline: none;
}

button:focus {
  outline: none !important;
}

.input-first input {
  @apply border rounded-xl ml-1;
}

.input-userdata input {
  @apply border ml-1;
}

:active {
  outline: none;
}

a a:visited.page-nav {
  color: inherit;
}

#shadow1 {
  text-shadow: 0 0 2px #dfdfdf, -3px 4px 0 #b8b8b8, -6px 8px 0 #747474,
    -9px 13px 0 #343434, -13px 16px 0 #000;
}

.left-gradient {
  background: linear-gradient(
    to right,
    var(--gray5) 20%,
    var(--gray4) 20% 40%,
    var(--gray3) 40% 60%,
    var(--gray2) 60% 80%,
    var(--gray1) 80% 100%
  );
}

.right-gradient {
  background: linear-gradient(
    to left,
    var(--gray5) 20%,
    var(--gray4) 20% 40%,
    var(--gray3) 40% 60%,
    var(--gray2) 60% 80%,
    var(--gray1) 80% 100%
  );
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-black {
  background-image: linear-gradient(0deg, #1b1b1b, #5f5d5d);
  @apply rounded-full text-white font-bold block ml-3 px-4 rounded-full;
}

.btn-black:hover {
  background-image: none;
  @apply bg-warmgray-500;
}

.btn-gray {
  @apply rounded-full bg-warmgray-100 text-warmgray-600 border-2 border-warmgray-400 font-bold block ml-3 px-4 rounded-full;
}
.btn-gray:hover {
  @apply bg-warmgray-200;
}

.active {
  @apply text-2xl;
  text-decoration: underline;
}

.top-header {
  @apply text-center mb-5;
}

.top-border {
  @apply border border-warmgray-200 mb-7 mx-20;
}

.friends-table {
  border-collapse: separate;
  border-spacing: 0.3em 0.4em;
}

.menu-items {
  @apply block text-warmgray-200 mt-4 mdplus:bg-warmgray-200 mdplus:text-black px-2 mdplus:mt-0 mdplus:hover:bg-warmgray-50 mdplus:ml-3;
}

@responsive{
  .menu-margin:first-of-type {
    margin-left: 0;
  }
}

.waves {
 position: relative;
  width: 700px;
  height: 70px;
}

.waves-short {
  margin-right: -150px;
}

@media screen and (max-width: 640px) {
  .sideblock {
    display: none;
  }
}

/* .waves:after {
  content:'';
  position:absolute;
  left:0; top: 0; right: 0; bottom:0;
  z-index: 1;
  background-color: blue;
} */


